/MPLAB_Project/*.cof
/MPLAB_Project/*.hex
/MPLAB_Project/*.lst
/MPLAB_Project/*.err
/MPLAB_Project/*.esym
/MPLAB_Project/*.mcs
/MPLAB_Project/*.rar
/MPLAB_Project/*.zip
/MPLAB_Project/*.mcw
/MPLAB_Project/*.mptags
/MPLAB_Project/*.PJT
/MPLAB_Project/*.sym
/MPLAB_Project/*.tagsrc
/MPLAB_Project/*.tre
/MPLAB_Project/desktop.ini




/MPLAB_Project/*.osym
